{% extends "index.html" %}
{% block title %}Adicionar Usuário{% endblock %}

{% block content %}
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Adicionar Novo Usuário</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Home</a></li>
                <li class="breadcrumb-item active">Adicionar Usuário</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <form method="POST" action="{{ url_for('adicionar_usuario') }}">
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="username" class="form-label">Nome de Usuário</label>
                <input type="text" id="username" name="username" class="form-control" required>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="password" class="form-label">Senha</label>
                <input type="password" id="password" name="password" class="form-control" required>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Adicionar</button>
    </form>
</main>
{% endblock %}
