{% extends "index.html" %}
{% block title %}Definições{% endblock %}
{% block content %}
<div class="container-fluid mt-5 content-wrapper">
    <div class="row mb-3">
        <div class="col-12 text-center">
            <h2>Definições</h2>
        </div>
    </div>
    <!-- Conteúdo das Definições -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <p>Configure suas definições aqui.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
